@import url(colors.css);

@media (min-width: 1024px) {
    .container {
        
        max-width: 650px;
        margin: auto;
        box-shadow: 0px 4px 39px -19px;
        border-radius: 25px 25px 0 0;
    }
    main {
        max-width: 650px;
        background-color: var(--content-bg-color);
        padding: 2rem;
        font-family: "Patua One Static";
    }
    header {
        max-width: 650px;
        background-color: var(--verde-escuro);
        padding: 2rem;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Poppins";

    }
    nav {
        margin-top: 0.5rem;
    }

    /* CARDS */
    .post {
        background-color: #fbfbfb;
        margin-bottom: 2%;
        padding: 2%;
        border-radius: 25px;
        width: 95%;
    }

    .posts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

        /*vvvvvvv "Completed x times! (text)" vvvvvvv*/
        .cardOptions p {
            font-size: 0.9rem;
            font-weight: 600;
            color: var(--verde-claro);
        }
        /*^^^^ "Completed x times! (text)" ^^^^*/ 

    .card h1 {
        color: var(--btnComplete-color);
        margin-bottom: 1rem;
    }

    .hr {
        color: var(--verde-claro);
        background-color: var(--verde-claro);
    }

    /* btn Complete */
    .btnComplete {
        font-size: 0.9rem;
        border: none;
        color: var(--btnComplete-color);
        background-color: #fbfbfb;
        transition: 700ms;
        padding: 0;
        cursor: pointer;
    }

    .BtnAddTask {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #91693e;
        color: white;
        border: none;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font-size: 1.1rem;
        font-weight: 200;
        font-family: "Poppins";
        cursor: pointer;
        transition: 700ms;
        padding: 0;
        margin: 0;
        opacity: 0.7;
    }

    .BtnAddTask:hover {
        opacity: 1;
    }

    /* Complete Function */
    .cardOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }


    .alinharBtns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        padding: 5px;
    }

}
