@import url(colors.css);

@media (min-width: 1024px) {
    .container {
        
        max-width: 1000px;
        margin: 15% auto;
        padding: 5px;
    }
    main {
        max-width: 1000px;
        background-color: var(--content-bg-color);
        padding: 2rem;
    }
    header {
        max-width: 1000px;
        background-color: var(--verde-escuro);
        padding: 2rem;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
}
