@import url(colors.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: var(--body-bg-color);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #d4d2d2;
    opacity: 0.5;
    transition: 500ms;
}

a:hover {
    opacity: 1;
    color: #ffffff;
}